@model project.Models.CheckoutModel

@{
    ViewData["Title"] = "CheckoutDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CheckoutDetails</h1>

<div>
    <h4>CheckoutModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Member Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memberName)
        </dd>
        <dt class = "col-sm-2">
            Employee Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckoutEmployeeName)
        </dd>
        <dt class = "col-sm-2">
            Book Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bookName)
        </dd>
        <dt class = "col-sm-2">
            Checkout Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckoutCheckoutDate)
        </dd>
        <dt class = "col-sm-2">
            Due Date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckoutDueDate)
        </dd>
        <dt class = "col-sm-2">
            Return date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckoutReturnDate)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckoutID }) |
    <a asp-action="Index">Back to List</a>
</div>
