@model IEnumerable<project.Models.CheckoutModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Member Name
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Book Name
            </th>
            <th>
                Checkout Date
            </th>
            <th>
                Due Date
            </th>
            <th>
                Return Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.memberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutEmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutCheckoutDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckoutReturnDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CheckoutID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CheckoutID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CheckoutID })
            </td>
        </tr>
}
    </tbody>
</table>
