@model IEnumerable<project.Models.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Add new book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenreID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPublishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPublisherID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCoverType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookNumberOfUnits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookNumberOfUnitsAvailable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookGenreID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPublishYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookPublisherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookCoverType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookNumberOfUnits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookNumberOfUnitsAvailable)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID }) |
                @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
            </td>
        </tr>
}
    </tbody>
</table>
